.main-header {
    background-color: $primary-color;
    color: $text-color;
    padding: 1rem;
  
    nav {
      .nav-list {
        @include flex-center;
        gap: 1rem;
  
        li {
          list-style: none;
  
          a {
            color: $text-color;
            text-decoration: none;
            @include transition(all);
  
            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
  
  .main-footer {
    text-align: center;
    background-color: $primary-color;
    color: $text-color;
    padding: 1rem;
  }
  