$colorPrimary: red;

body{
    background-color: $colorPrimary;
}
.navbar{
    background-color: aqua;

    ul{
       list-style: none;
       
        li{
            display: inline-block;
            color: red;
        }
       
    }
}

@mixin boton{

    background-color: aqua;
    font-size: larger;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary{
    @include boton;
}


